---
---

@import "jekyll-theme-slate";

$uom-purple: #660099;
$uom-purple-light: #934EB7;
$uom-yellow: #FFCC33;
$uom-grey: #999999;
$inner-width: 1200px;

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
    background: #ffffff;
}

a:hover, a:focus { text-decoration: none; font-weight: normal; }

#secondary_navigation {
    padding: 10px 0px 10px 0px;
    background-color: #000000;
    height: 45px;
    //border-bottom: 3px #7b22aa solid;

    a {
        color: #ffffff;
        text-shadow: inherit;
        text-decoration: none;
    }

  a:hover {
    font-weight: normal;
  }
}

#secondary_navigation ul {
    margin: 0 auto;
    width: $inner-width;
}

#secondary_navigation ul li.secondary_navigation_item {
    float: left;
    list-style-type: none;
    color: #ffffff;
    padding: 0px 20px 0px 0px;
}

#main_content_wrap {
  flex: 1 0 auto;
  background: #ffffff;
  border-top: none;

  .inner {
    background: #fff;
    /*padding: 10px 30px;*/
    height: 100%;
  }
}

#footer_wrap {
  flex-shrink: 0;
}

#main_content {
  padding: 0px 10px 20px 0;
  flex: 3;
}

.inner {
  max-width: $inner-width;
}

#posts {
  padding-top: 20px;
  padding-bottom: 20px;
  flex: 1;
}

.flex-wrapper {
  display: flex;

  @media screen and (max-width: 960px) {
    flex-direction: column;
  }
}

.header-tabs {
  z-index: 10;
  float: right;
  padding-top: 30px;
  @media screen and (max-width: 480px) {
    padding-top: 0;
  }

  .header-tab {
    //display: inline-block;
    color: #fff;
    /*background-color: $uom-purple;*/
    font-size: 18px;
    //box-shadow: 0 0 10px #111;
    //border-bottom-left-radius: 2px;
    //border-bottom-right-radius: 2px;
    padding: 2px;
    margin: 0 20px;
    //margin-left: 10px;
    float: right;
    text-decoration: none;
    border-bottom: 2px solid transparent;

    @media screen and (max-width: 960px) {
      padding: 2px 10px;
      margin: 0 5px;
    }

    &:hover {
      /*background-color: $uom-purple-light;*/
      text-decoration: none;
      border-bottom: 2px solid #ffffff;
    }
  }
}

#project_title {
  z-index: 10;
  margin: 0 20px;
  padding-top: 50px;
  font-size: 24px;
  color: #ffffff;
  text-shadow: none;
  display: inline-block;
  vertical-align: top;
  @media screen and (max-width: 480px) {
      padding-top: 0;
  }

  a {
    color: inherit;
    text-shadow: inherit;
    text-decoration: none;
  }

  a:hover {
    font-weight: bold;
  }
}

#header_wrap {
  .inner {
    padding: 5px;
    background: url(../images/our-brand-banner.jpg) top center;
    background-size: cover;
  }
  background-color: #262626;
  //background-image: url(//assets.manchester.ac.uk/staffnet/images/circles.png);
  background-repeat: no-repeat;
  background-position: bottom;
  //border-bottom: 1px solid #eeeeee;
}

.header-logo{
    padding: 0px 20px 0px 0px;
    margin: 0px;
    border: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
}

footer {
  .logo-wrap {
    a {
      text-decoration: none;
    }
    .footer-logo {
      height: 40px;
      box-shadow: none;
      border: none;
      vertical-align: top;
      margin-right: 25px;
    }

    .footer-logo-uom {
      height: 60px;
    }
  }
}
