<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-GB" }}">

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <meta name="description" content="{{ site.title | default: site.github.repository_name }} : {{ site.description | default: site.github.project_tagline }}">

    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

    {% seo %}
</head>

<body>

<!-- HEADER -->
<div id="header_wrap" class="outer">
    <header class="inner">
        <!-- <a href="https://www.ed.ac.uk/" id="logolink" itemprop="url"><img class="header-logo" src="assets/images/edcarp-logo.png" alt="The University of Edinburgh" id="logo" itemprop="logo" /></a> -->
        <h3 id="project_title"><a href="{{ site.baseurl }}">{{ site.title | default: site.github.repository_name }}</a></h3>
        <div class="header-tabs">
            <a class="header-tab" href="{{ '/contact' | relative_url }}">Contact</a>
            <a class="header-tab" href="{{ '/committee' | relative_url }}">Committee</a>
            <a class="header-tab" href="{{ '/events' | relative_url }}">Events</a>
            <a class="header-tab" href="{{ '/workshops' | relative_url }}">Workshops</a>
            <a class="header-tab" href="{{ '/calendar' | relative_url }}">Calendar</a>
          <!--  <a class="header-tab" href="{{ '/programme-spring-2020' | relative_url }}">Programme spring 2020</a> -->
        </div>
    </header>
</div>

<!-- SECONDARY NAVIGATION BAR (BLACK) -->
<nav class="" id="secondary_navigation"> <!--
    <ul>
        <li class="secondary_navigation_item">
            <a class="" href="http://www.itservices.manchester.ac.uk/research/" target="_blank">Research IT Training</a>
        </li>
        <li class="secondary_navigation_item">
            <a class="" href="https://www.cmist.manchester.ac.uk/" target="_blank">CMI Training</a>
        </li>
        <li class="secondary_navigation_item">
            <a class="" href="http://www.library.manchester.ac.uk/contact/other-services/" target="_blank">Library Services Training</a>
        </li>
    </ul> -->
</nav>

<!-- MAIN CONTENT -->
{{ content }}

<!-- FOOTER  -->
<div id="footer_wrap" class="outer">
    <footer class="inner">
        <div class="logo-wrap">
            <a href="https://www.ed.ac.uk/" target="_blank">
                <img class="footer-logo footer-logo-uom" src="{{ '/assets/images/ed-uni-logo-white.png' | relative_url }}" alt="The University of Edinburgh logo"/>
            </a>
            <a href="https://carpentries.org/" target="_blank">
                <img class="footer-logo" src="{{ '/assets/images/carpentries_logo_white.png' | relative_url }}" alt="The Carpentries logo"/>
            </a>
            <a href="https://software-carpentry.org/" target="_blank">
                <img class="footer-logo" src="{{ '/assets/images/swc_logo_white.svg' | relative_url }}" alt="The Software Carpentry logo"/>
            </a>
            <a href="http://www.datacarpentry.org/" target="_blank">
                <img class="footer-logo" src="{{ '/assets/images/dc_logo_white.png' | relative_url }}" alt="The Data Carpentry logo"/>
            </a>
            <a href="https://software.ac.uk/" target="_blank">
                <img class="footer-logo" src="{{ '/assets/images/ssi-white.png' | relative_url }}" alt="The Software Sustainability logo"/>
            </a>
        </div>
    </footer>
</div>

{% if site.google_analytics %}
<script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
{% endif %}
</body>
</html>
