---
layout: base
---

<div id="main_content_wrap" class="outer">
    <div class="inner flex-wrapper">

        <section id="main_content">
            <h1>Welcome to Edinbrugh Carpentry!</h1>
            <h2> Workshops</h2>
            <ul class="post-list">
                {% for post in site.posts %}
                {% if post.type == "workshop_announcement" %}
                <li>
                    <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
            {{ content }}
        </section>
        <section id="posts">
            {% include latest_news.html %}
        </section>
    </div>
</div>
